<section class="px-4 py-24 mx-auto max-w-7xl">
    <h1 class="mb-12 text-sm font-bold tracking-wide text-center text-gray-800 uppercase">Alguna de las empresas en las que podras encontrar beneficios</h1>
    <div class="grid grid-cols-2 gap-10 text-center lg:grid-cols-8">
      <div class="flex items-center justify-center">
        <img src="benefits/logo-alpa-vape.jpeg" alt="Todoist Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-aero-kua.jpeg" alt="Slack Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-america-shop.jpeg" alt="Typeform Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-atalabbb.jpeg" alt="Algolia Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-barbería.jpeg" alt="Postcss Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-la-trinidad.jpeg" alt="TailwindCSS Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-dental-mas.jpeg" alt="Discord Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-de-la-rosa-joyería.jpeg" alt="Vimeo Logo" class="block object-contain h-12" />
      </div>
      
  </section>
  <div class="text-center mb-0 space-x-0 md:space-x-2">
    <button class=" inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
        <span class=" text-black items-center inline-flex px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-white rounded-md group-hover:bg-opacity-0">
            <a class="z-1" href="#">Explora todos los beneficios</a>
            <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
        </span>
      </button>
  </div>