<section class="px-4 py-24 mx-auto max-w-7xl">
    <h2 class="mb-4 text-xl font-bold md:text-3xl">Preguntas Frecuentes</h2>
    <div class="grid grid-cols-1 gap-0 text-gray-600 md:grid-cols-2 md:gap-16">
      <div>
        <h5 class="mt-10 mb-3 font-semibold text-gray-900">¿Qué es Ingecard?</h5>
        <p>
            Ingecard es un programa de suscripción que ofrece descuentos, afiliaciones y ofertas especiales en tiendas y negocios cercanos a la Facultad de Ingeniería. Es exclusivo para estudiantes de la facultad.
        </p>
        <h5 class="mt-10 mb-3 font-semibold text-gray-900">¿Quiénes pueden suscribirse a Ingecard?</h5>
        <p>Ingecard está disponible para todos los estudiantes matriculados en la Facultad de Ingeniería.</p>
        <h5 class="mt-10 mb-3 font-semibold text-gray-900">¿Cómo me suscribo a Ingecard?</h5>
        <p>
            Para suscribirte, completa el formulario de registro en nuestra página web y sigue las instrucciones proporcionadas. Puedes seguir 
        </p>
        <h5 class="mt-10 mb-3 font-semibold text-gray-900">¿Cuáles son los beneficios de Ingecard?</h5>
        <p>
            Los beneficios incluyen descuentos en tiendas locales, afiliaciones a clubes y organizaciones, ofertas exclusivas y promociones especiales.
        </p>
        <h5 class="mt-10 mb-3 font-semibold text-gray-900">¿Cómo puedo usar Ingecard?</h5>
        <p>Una vez que te hayas suscrito, recibirás una tarjeta Ingecard que podrás presentar en los negocios participantes para obtener los beneficios.</p>
      </div>
      <div>
        <h5 class="mt-10 mb-3 font-semibold text-gray-900">¿Cuáles son los negocios afiliados a Ingecard?</h5>
        <p>
          Puedes encontrar una lista de los negocios afiliados <a href="#" target="_blank">aquí</a>
        </p>

        <h5 class="mt-10 mb-3 font-semibold text-gray-900">¿Hay alguna tarifa de suscripción?</h5>
        <p>Sí, Ingecard tiene una tarifa de suscripción anual que cubre todos los beneficios.</p>
        <h5 class="mt-10 mb-3 font-semibold text-gray-900">¿Cómo puedo renovar mi suscripción?</h5>
        <p>La renovación de tu suscripción se realiza abonando cada inicio de semester. Te enviaremos un recordatorio antes de la renovación.</p>
        <h5 class="mt-10 mb-3 font-semibold text-gray-900">¿Puedo cancelar mi suscripción en cualquier momento?</h5>
        <p>
            Sí, puedes cancelar tu suscripción en cualquier momento. Consulta nuestros <a href="#" target="_blank">términos y condiciones</a> para obtener más detalles sobre la política de cancelación. 
        </p>

        <h5 class="mt-10 mb-3 font-semibold text-gray-900">¿Qué sucede si pierdo mi tarjeta Ingecard?</h5>
        <p>
            Si pierdes tu tarjeta, comunícate con nuestro equipo de soporte para obtener una tarjeta de reemplazo.
        </p>
      </div>
    </div>
  </section>
  
  