<nav class="sticky top-0 z-10  backdrop-filter backdrop-blur-lg bg-opacity-30 border-b border-gray-200">
    <div class="max-w-5xl mx-auto px-4">
      <div class="flex items-center justify-between h-16">
        <img src="cefi-svg-black.png" alt="Logo">
        <div class="flex space-x-4 text-gray-900">
            <a href="#">Acerca de</a>
            <a href="#">Términos y Condiciones</a>
            <a href="#">Contacto</a>
        </div>
      </div>
    </div>
  </nav>