
<div class=" flex min-h-screen flex-col justify-center overflow-hidden bg-transparent py-6 sm:py-12">
  <div class="">
    <div class="flex flex-col md:block -space-y-72 items-center ">
        <!-- INGECARD -->
 
        <div class="relative shadow-2xl shadow-[#16192E] z-30 bg-transparent stroke-1 -rotate-[60deg] skew-y-[30deg] scale-75 border-gray-200 w-[650px] mx-auto h-[420px] rounded-3xl">
          <div class="w-full h-full absolute top-0 left-0 rounded-3xl bg-cover bg-[url('/public/blurry.png')]">
            <div class="p-12 flex flex-col justify-between h-full">
              <img class="h-15 w-28" src="https://ingecard.netlify.app/_ipx/w_128,q_75/%2F_next%2Fstatic%2Fmedia%2FlogoBlanco.58aa031b.png?url=%2F_next%2Fstatic%2Fmedia%2FlogoBlanco.58aa031b.png&w=128&q=75" alt="">
              <div class="flex flex-col">
      <p class="text-gray-300 text-lg font-mono">24 24 25 25</p>
              <p class="font-bold text-lg text-stone-300">José M.</p>
              <p class="font-bold text-lg text-stone-100 items-end content-end absolute bottom-12 right-6" >Ing. Civil</p>
              <p class="font-mono text-lg text-stone-100 items-end content-end absolute bottom-20 right-6" >5892461</p>
              <p class="font-extralight text-4xl text-stone-100 items-end content-end absolute top-10 right-6" >Ingecard</p>

              <p class="font-mono text-lg text-stone-100 items-end content-end absolute bottom-[110px] right-6" >Socio 000</p>
              <svg xmlns="http://www.w3.org/2000/svg" class="items-end content-end absolute top-36 h-24 w-24" viewBox="0 0 24 24" stroke-width="1" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 12l0 .01" />
                <path d="M14.828 9.172a4 4 0 0 1 0 5.656" />
                <path d="M17.657 6.343a8 8 0 0 1 0 11.314" />
                <path d="M9.168 14.828a4 4 0 0 1 0 -5.656" />
                <path d="M6.337 17.657a8 8 0 0 1 0 -11.314" />
              </svg>
              
              
              
              </div>
            </div>
          </div>
        </div>  
        
        <div class="relative shadow-2xl shadow-[#16192E] z-20 bg-transparent stroke-1 -rotate-[60deg] skew-y-[30deg] scale-75 border-gray-200 w-[650px] mx-auto h-[420px] rounded-3xl">
            <div class="w-full h-full absolute top-0 left-0 rounded-3xl bg-cover bg-[url('/public/blurry2.png')]">
              <div class="p-12 flex flex-col justify-between h-full">
                <img class="h-15 w-28" src="https://ingecard.netlify.app/_ipx/w_128,q_75/%2F_next%2Fstatic%2Fmedia%2FlogoBlanco.58aa031b.png?url=%2F_next%2Fstatic%2Fmedia%2FlogoBlanco.58aa031b.png&w=128&q=75" alt="">
                <div class="flex flex-col">
        <p class="text-gray-300 text-lg font-mono">24 24 25 25</p>
                <p class="font-bold text-lg text-stone-300">Carolina Q.</p>
                <p class="font-bold text-lg text-stone-100 items-end content-end absolute bottom-12 right-6" >Ing. Informática</p>
                <p class="font-mono text-lg text-stone-100 items-end content-end absolute bottom-20 right-6" >6341281</p>
                <p class="font-mono text-lg text-stone-100 items-end content-end absolute bottom-[110px] right-6" >Socio 001</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="items-end content-end absolute top-36 h-24 w-24" viewBox="0 0 24 24" stroke-width="1" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M12 12l0 .01" />
                  <path d="M14.828 9.172a4 4 0 0 1 0 5.656" />
                  <path d="M17.657 6.343a8 8 0 0 1 0 11.314" />
                  <path d="M9.168 14.828a4 4 0 0 1 0 -5.656" />
                  <path d="M6.337 17.657a8 8 0 0 1 0 -11.314" />
                </svg>
                </div>
              </div>
            </div>
          </div>
      
        
          <div class="relative shadow-2xl shadow-[#16192E] z-10 bg-transparent stroke-1  -rotate-[60deg] skew-y-[30deg] scale-75 w-[650px] mx-auto h-[420px] rounded-3xl">
            <div class="w-full h-full absolute top-0 left-0 rounded-3xl bg-cover bg-[url('/public/blurry3.png')]">
              <div class="p-12 flex flex-col justify-between h-full">
                <img class="h-15 w-28" src="https://ingecard.netlify.app/_ipx/w_128,q_75/%2F_next%2Fstatic%2Fmedia%2FlogoBlanco.58aa031b.png?url=%2F_next%2Fstatic%2Fmedia%2FlogoBlanco.58aa031b.png&w=128&q=75" alt="">
                <div class="flex flex-col">
        <p class="text-gray-100 text-lg font-mono">24 24 25 25</p>
                <p class="font-bold text-lg text-stone-100">Roberto L.</p>
                <p class="font-bold text-lg text-stone-100 items-end content-end absolute bottom-12 right-6" >Ing. Electromecánica</p>
                <p class="font-mono text-lg text-stone-100 items-end content-end absolute bottom-20 right-6" >5542879</p>
                <p class="font-mono text-lg text-stone-100 items-end content-end absolute bottom-[110px] right-6" >Socio 002</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="items-end content-end absolute top-36 h-24 w-24" viewBox="0 0 24 24" stroke-width="1" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M12 12l0 .01" />
                  <path d="M14.828 9.172a4 4 0 0 1 0 5.656" />
                  <path d="M17.657 6.343a8 8 0 0 1 0 11.314" />
                  <path d="M9.168 14.828a4 4 0 0 1 0 -5.656" />
                  <path d="M6.337 17.657a8 8 0 0 1 0 -11.314" />
                </svg>
              </div>
              </div>
            </div>
          </div>
          </div>
      
</div>