<section class="px-4 py-24 mx-auto max-w-7xl">
    <h1 class="mb-12 text-sm font-bold tracking-wide text-center text-gray-800 uppercase">Alguna de las empresas en las que podras encontrar beneficios</h1>
    <div class="grid grid-cols-2 gap-10 text-center lg:grid-cols-8">
      <div class="flex items-center justify-center">
        <img src="benefits/logo-alpa-vape.jpeg" alt="Todoist Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-aero-kua.jpeg" alt="Slack Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-america-shop.jpeg" alt="Typeform Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-atalabbb.jpeg" alt="Algolia Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-barbería.jpeg" alt="Postcss Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-la-trinidad.jpeg" alt="TailwindCSS Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-dental-mas.jpeg" alt="Discord Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="benefits/logo-de-la-rosa-joyería.jpeg" alt="Vimeo Logo" class="block object-contain h-12" />
      </div>
  </section>
  